.about {
  width: 100%;
  background-image: url(../assets/17.jpg);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
  margin: 40px 0;
}
.container-about {
  width: 90%;
  margin: auto;
  text-align: center;
  background-color: #357ea5;
  padding: 20px;
}
.about h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}
.about .h2-2 {
  margin-top: 20px;
}
.about-slider {
  color: #fff;
  text-align: justify;
  font-weight: 300;
}
.container-about button {
  background-color: #fff;
  width: 100px;
  padding: 7px;
  margin: auto;
  display: inline-block;
  text-align: center;
  margin: 10px;
  border: none;
  border-radius: 7px;
  font-size: 1.2em;
  color: #2e2e2e;
}

.textos {
  width: 100%;
}

.textos.show {
  display: none;
}

@media (min-width: 768px) {
  .about {
    width: 100%;
    background-image: url(../assets/17.jpg);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container-about {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: #357ea5;
    padding: 30px;
  }
  .about h2 {
    text-align: center;
    color: #fff;
    font-size: 1.7em;
  }
  .about-slider {
    color: #fff;
    text-align: justify;
    font-weight: 300;
    font-size: 1.1em;
  }
  .container-about button {
    background-color: #fff;
    width: 100px;
    padding: 7px;
    margin: auto;
    display: inline-block;
    text-align: center;
    margin: 10px;
    border: none;
    border-radius: 7px;
    font-size: 1.2em;
    color: #2e2e2e;
  }

  .textos {
    width: 100%;
  }

  .textos.show {
    display: none;
  }
}
