footer {
  width: 100%;
  padding: 10px 0px;
}
.mapa {
  padding: 15px;
}
.mapa img {
  max-width: 100%;
}
.item-mapa iframe {
  width: 100%;
}
.mapa h2 {
  text-align: center;
  color: #2e2e2e;
  font-size: 1.7em;
}
.mapa h3 {
  text-align: justify;
  color: #2e2e2e;
  font-size: 1em;
}
.footer-footer {
  background-color: black;
  padding: 15px;
}
.footer-1 {
  background-color: #357ea5;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 200px;
}
.item-footer-footer-1 a {
  padding: 10px 15px;
  border-radius: 20px;
  border: 2px white solid;
  color: white;
  text-decoration: none;
  transition: all 0.275s linear;
}
.lab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  margin: 0 20px;
  text-align: center;
}
.lab h2 {
  font-weight: 400;
}
.lab h4 {
  color: #357ea5;
  margin-bottom: 10px;
}
.item-footer-footer-1 a:hover {
  transition: all 0.275s linear;
  transform: scale(1.1);
}
.item-footer-footer-1 h1 {
  margin-bottom: 20px;
}
.footer-footer p {
  color: #fff;
  font-size: 0.9em;
}
.footer-footer a {
  color: #fff;
  font-size: 0.9em;
  text-decoration: none;
  margin-bottom: 20px;
  margin-top: 20px;
}
.footer-footer a:nth-child(2) {
  margin: 7px 12px;
}
.footer-footer img {
  width: 30px;
}

.item-footer-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-rosa {
  display: block;
  width: 150px;
  background-color: #3e606f;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin: 12px auto;
  color: #fff;
  font-size: 1.1em;
  font-weight: 700;
  transition: all 0.5s ease;
}

@media (min-width: 768px) {
  footer {
    width: 100%;
    padding: 10px 0px;
  }
  .mapa {
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .container-mapa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 0px 50px;
  }
  .item-mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .mapa img {
    max-width: 100%;
  }
  .mapa h2 {
    text-align: center;
    color: #2e2e2e;
    font-size: 3em;
  }
  .mapa h3 {
    text-align: center;
    color: #2e2e2e;
    font-size: 1.7em;
  }
  .footer-footer {
    background-color: black;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-footer p {
    color: #fff;
    font-size: 1.2em;
  }
  .footer-footer a {
    color: #fff;
    font-size: 1.1em;
    text-decoration: none;
  }
  .footer-footer a:nth-child(2) {
    margin: 7px 0px;
  }
  .btn-rosa {
    display: block;
    width: 200px;
    background-color: #3e606f;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: 12px 0px 12px 0px;
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;
    transition: all 0.5s ease;
  }
  .btn-rosa:hover {
    transform: scale(0.9);
    transition: all 0.5s ease;
  }
  .item-footer-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .lab {
    margin: 0 40px;
  }
  .lab h2 {
    font-weight: 600;
  }
}
