.hero {
  width: 100%;
  overflow-x: hidden;
  height: 70%;
  position: relative;
  display: none;
  margin-top: 95px;
}
.texto-hero {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-texto-hero {
  width: 90%;
  /*backdrop-filter: blur(10px);*/
  background-color: rgba(62, 96, 111, 0.5);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}
.container-texto-hero h2 {
  color: #fff;
  font-size: 2em;
}
.container-texto-hero p {
  color: #fff;
  text-align: center;
  font-size: 1.2em;
}
.hero img {
  max-width: 100%;
}
.img-escritorio {
  display: none;
}
.botones {
  margin-top: 30px;
  margin-bottom: 20px;
}
.botones a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  transition: all 0.275s linear;
}
.botones a[href="https://api.whatsapp.com/send/?phone=5619107396"] {
  background-color: #00bb2d;
  margin-right: 20px;
}
.botones a[href="tel:5619107396"] {
  background-color: white;
  color: black;
}
.botones a:hover {
  transition: all 0.275s linear;
}
@media (min-width: 768px) {
  .hero {
    width: 100%;
    overflow-x: hidden;
    height: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero img {
    max-width: 100%;
    height: inherit;
    text-align: center;
  }

  .container-texto-hero {
    width: 50%;
    /*backdrop-filter: blur(10px);*/
    background-color: rgba(62, 96, 111, 0.5);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }
  .container-texto-hero h2 {
    color: #fff;
    font-size: 2.7em;
  }
  .container-texto-hero p {
    color: #fff;
    text-align: center;
    font-size: 2em;
  }
  .img-escritorio {
    display: block;
  }
  .img-movil {
    display: none;
  }
}
