.services {
  width: 100%;
}
.servicios-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.servicios-container hr {
  margin-bottom: 20px;
  width: 80%;
}
.services .title-services {
  text-align: center;
  color: #2e2e2e;
  font-size: 2.5em;
}
.container-services {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 45px;
  margin: 20px auto;
  justify-items: center;
}
.card {
  width: 210px;
  height: 270px;
  background: #07182E;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.card h2 {
  z-index: 1;
  color: white;
  text-align: center;
  font-size: 1.4em;
}

.card::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: '';
  position: absolute;
  background: #0a2241;
  ;
  inset: 5px;
  border-radius: 15px;
}  
/* .card:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
} */


.card img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  z-index: 9;
  margin-bottom: 10px;
}
.btn-services {
  display: block;
  margin: auto;
  width: 170px;
  background-color: #3e606f;
  padding: 8px 0px;
  border: 0;
  color: #fff;
  font-size: 1.1em;
  z-index: 99;
  text-decoration: none;
  text-align: center;
}
.modal-services-home {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: 0.7s;
}
.container-expertos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 20px;
}
.texto-expertos p {
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 20px;
}
.container-protesis .hr-experto {
  width: 80%;
}
.hr-experto {
  margin-bottom: 20px;
  width: 80%;
}
.container-expertos iframe {
  width: 100%;
}
.modal-services-home.openModal {
  transform: scale(1);
  transition: 0.7s;
}
.modal-services-home i {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
  font-size: 35px;
}
.container-modal-services {
  width: 90%;
  background-color: #fff;
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.container-modal-services img {
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.container-modal-services h2 {
  color: #2e2e2e;
  font-size: 1.4em;
  padding: 0;
  margin: 12px;
}
.container-modal-services p {
  font-weight: 500;
  text-align: justify;
  font-size: 1em;
}
#btnAncla {
  background-color: #3e606f !important;
  display: block;
  margin: 12px auto;
  width: 200px;
  color: #fff !important;
  text-decoration: none;
  font-size: 1.1em;
  text-align: center;
  padding: 10px;
}
#btn-modal {
  display: block;
  margin: 20px auto;
  text-align: center;
  background-color: #fff;
  color: #2e2e2e;
  width: 200px;
  padding: 10px;
  text-decoration: none;
  font-weight: 600;
}
.item-8 {
  display: none;
}

@media (min-width: 768px) {
  .services {
    width: 100%;
  }
  .services .title-services {
    text-align: center;
    color: #2e2e2e;
    font-size: 2.5em;
  }
  .container-services {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 20px auto;
    justify-content: center;
  }
  .item-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.7);
    padding: 25px;
    gap: 12px;
  }
  .item-8 {
    background-color: #3e606f;
  }
  .item-8 h2 {
    color: #fff;
    font-weight: 800;
    font-size: 1.5em;
  }

  .item-8 p {
    color: #fff;
    font-size: 1.1em;
  }
  .item-8 a {
    background-color: #fff;
    width: 170px;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    color: #3e606f;
  }

  .item-services img {
    width: 90px;
    height: 90px;
    object-fit: cover;
  }
  .btn-services {
    display: block;
    margin: auto;
    width: 170px;
    background-color: #3e606f;
    padding: 12px 0px;
    border: 0;
    color: #fff;
    font-size: 1.1em;
    position: relative;
  }
  .btn-services::before {
    content: "Haz click";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    background-color: #2e2e2e;
    text-align: center;
    transition: 0.5s all ease;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-services:hover::before {
    height: 100%;
    transition: 0.5s all ease;
  }
  .modal-services-home {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: 0.7s;
  }
  .modal-services-home.openModal {
    transform: scale(1);
    transition: 0.7s;
  }
  .modal-services-home i {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #fff;
    font-size: 35px;
  }
  .container-modal-services {
    width: 50%;
    background-color: #fff;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  .container-modal-services img {
    width: 90px;
    height: 90px;
    object-fit: cover;
  }
  .container-modal-services h2 {
    color: #2e2e2e;
    font-size: 1.7em;
    padding: 0;
    margin: 12px;
  }
  .container-modal-services p {
    font-weight: 500;
    text-align: justify;
    font-size: 1.3em;
  }
  #btnAncla {
    background-color: #2e2e2e !important;
    display: block;
    margin: 12px auto;
    width: 200px;
    color: #fff !important;
    text-decoration: none;
    font-size: 1.3em;
    text-align: center;
    padding: 10px;
    position: relative;
  }
  .container-expertos {
    flex-direction: row;
    padding: 20px 40px;
  }
  .container-protesis {
    margin-top: 40px;
  }
  .texto-expertos {
    max-width: 600px;
    padding-right: 40px;
  }
  .texto-expertos p {
    font-size: 1.4em;
  }
  #btnAncla:before {
    content: "Agendar Cita";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    background-color: #3e606f;
    text-align: center;
    transition: 0.5s all ease;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  #btnAncla:hover::before {
    height: 100%;
    transition: 0.5s all ease;
  }
  #btn-modal {
    display: block;
    margin: 20px auto;
    text-align: center;
    background-color: #fff;
    color: #2e2e2e;
    width: 200px;
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
  }
}
